.icon{ background-image: url(../slice/icon.png); width: 40px; height: 40px; background-repeat: no-repeat;}
.label{ background-image: url(../slice/label.png); width: 40px; height: 40px; background-repeat: no-repeat;}

.dib{ display: inline-block;}